.site-name, h1, h2, h3, h4, h5, h6
  color: $titleColor !important

html, body, .sidebar, .search-box input
  background-color: $backgroundColor !important

.search-box input:focus
  background-color: #fff !important

.navbar
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: none

.navbar, .navbar .links
  background-color: $navbarColor !important

.page

  code
    user-select: none

  blockquote
    font-size: 1.1rem;
    color: #606F7B;
    border-left: 0.25rem solid #8795A1;

  p
    text-align: justify

    img
      background: $codeBgColor
      box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08)
      display: block
      margin-left: auto
      margin-right: auto

  li
    text-align: justify
    margin: .5rem 0

  ol
    padding: 0
    counter-reset: item

    &> li
      padding: 0 0 0 2rem
      text-indent: -2rem
      list-style-type: none
      counter-increment: item

      &:before
        color: $titleColor
        display: inline-block
        width: 1.25rem
        padding-right: .75rem
        font-weight: bold
        text-align: right
        content: counter(item) "."
