// colors
$accentColor = #2779BD
$textColor = #22292F
$borderColor = #DAE1E7
$codeBgColor = #12283A
$arrowBgColor = #ccc

$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// code
$codeLang = js html css php yaml twig sh